// COLORS
$color-primary: #1a1a1a;
$color-primary-light: #192024;

$color-secondary: #92B8D0;

$color-tertiary: #02BFC7;

$color-quaternary: #00BED7;

$color-grey: #4b4b4b;
$color-white: #fff;


$default-font-size: 1.6rem;
