.album-card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.album-card-image {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 18rem;
  width: 18rem;
}

.album-card-title {
  width: 18rem;
  color: $color-quaternary;
  font-size: $default-font-size ;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}